<!doctype html>
<html ng-app="chatCS">
    <head >
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    <div ng-controller="chatCtrl">

	<tabset>
	<tab ng-repeat="tab in tabs" active="tab.active" disabled="tab.disabled">
	<tab-heading>{{tab.gid}}   <i class="glyphicon glyphicon-remove" ng-click="closeTab(tab.gid)"></i></tab-heading>
	
		<ul id="messages"></ul>
		    <li ng-repeat="message in tab.messages">{{ message }}</li>
		<form action="">
		    <input ng-model="tab.toSendMessage" autocomplete="off" />
		    <button ng-click="sendMessage(tab.gid)">Send</button>
		</form>
	    </tab>
	</tabset>
    </div>
    <input type="hidden" id="uid" value="1"/>

	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/socket.min.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
  <script src="js/chat-cs.js"></script>
</body>
</html>
